html, body {
    padding: 0;
    margin: 0;
    background-color: #456;
    width: 100%;
    height: 100%;
}

.main {
    display: flexbox;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
}

.msg {
    display: flex;
    height: 80%;
    background-color: white;
    justify-content: center;
    align-content: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10rem;
}

#random {
    width: 100%;
    height: 20%;
    background-color: green;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color: white;
}